$primary: #61dafb;
a {
  color: $primary;
}
.slide1__text {
  color: $primary;
  font-size: 2em;
}
.speaker {
  position: relative;
  display: inline-block;
  margin-top: 2em;
  &__company-icon {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%, 0);
  }
  &__avatar {
    clip-path: polygon(
      3.66% -0.37%,
      98.65% 0%,
      98.66% 88.43%,
      84.39% 89.09%,
      80.37% 100%,
      70.82% 88.43%,
      6.04% 88.43%
    );
    border: white 3px solid;
    &-border {
      background: white;
      width: 250px;
      height: 250px;
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(
        -3.59% -0.37%,
        74.47% 0.49%,
        80.28% 71.98%,
        67.46% 74.1%,
        74.76% 90.17%,
        49.54% 72.96%,
        -1.21% 75.37%
      );
    }
  }
  &__social {
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      .speaker__social-img {
        background: $primary;
        padding: 2px;
        border-radius: 100%;
        margin: 0 0.5rem 0;
        display: inline;
      }
    }
    &-link {
      .speaker__social-text {
        color: $primary;
        margin: 0;
      }
    }
  }
}
.retro {
  &__fill {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: white;
    margin: 0.5em;
    &-part {
      background: white;
      width: 100%;
      &:nth-child(1) {
        margin-bottom: 0.5em;
      }
    }
    .retro {
      &__img {
        margin: 0;
        display: inline-flex;
        flex-basis: calc(100% / 4);
      }
    }
    &--actual {
      background: $primary;
      .retro {
        &__img {
          flex-basis: calc(100% / 2);
        }
      }
    }
  }
}
