.#{$prefix} {
  &-header {
    padding: 0 1em;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__name {
      text-decoration: none;
      font-size: .4rem;
      display: table;
    }
  }

  &-title {
    &--header {
      display: table-cell;
      vertical-align: middle;
      color: $white;
      font-family: $font-family-base;
      margin: 0;
    }

    &__small {
      display: block;
      font-weight: 200;
    }
  }

  &-img {
    &--header {
      width: 50px;
      height: 50px;
      margin-right: .5rem;
    }
  }
}
