$prefix: 'sg';
$prefixjs: 'js';

/* Font */
$font-family-base: 'Open Sans', sans-serif !default;
$font-family-headings: 'Times New Roman', Times, serif !default;
$font-size-base: 1.6rem !default;

/* Colors */
$color-axa: #00008f !default;
$color-azur: #3032c1 !default;
$white: #fff !default;
$black: #000 !default;
$red-axa: #e90c00;
