footer(class=`${prefix}-footer`)
	span © AXA 2019 - Tous droits réservés
	a(class=`${prefix}-footer__link` href="https://twitter.com/AXAFrance" target="_blank" title="Twitter Axa France")
		+Icon({id:"twitter", modifier:"footer"})
	a(class=`${prefix}-footer__link` href="https://github.com/AxaGuilDEv" target="_blank" title="Github AxaGuilDev")
		+Icon({id:"github", modifier:"footer"})
