.#{$prefix} {
  &-footer {
    background: $color-azur;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0.2em 1em;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
  }

  &-icon {
    &--footer {
      margin-left: 0.5rem;
      width: 25px;
      height: 25px;
    }
  }
}
