footer(class=`${prefix}-footer`)
	a(class=`${prefix}-footer__link` href="/")
		+Icon({id:"twitter", modifier:"footer"})
		+Icon({id:"github", modifier:"footer"})
		+Icon({id:"sg", modifier:"footer"})
