.#{$prefix} {
  &-footer {
    background: $color-azur;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: .2em 1em;
  }

  &-icon {
    &--footer {
      width: 25px;
      height: 25px;
    }
  }
}
