extends ./commons/layout

block meta
	-var metaTitle = "home metatitle"
	-var metaDescription = "home metadesc"
	-var metaKeywords = "home keywords"
block content
	+Slider({items:repos})
	+Contributors({})
block template
	+contributorTmpl()
