extends ./commons/layout

block meta
	-var metaTitle = "home metatitle"
	-var metaDescription = "home metadesc"
	-var metaKeywords = "home keywords"
block content
	+Repo({ title:"React Toolkit", stars:"1000", version:"1.0.0", desc:`${repos[0].id} __ Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum...`})
